/* Effective stylesheet produced by snapshot save */
body { font-family: "Open Sans",Arial,serif; padding: 0px; margin: 0px auto; overflow-x: hidden; }
body::before { position: absolute; display: block; right: 3px; top: 3px; width: 1px; height: 1px; content: " "; background-color: rgb(255, 255, 255); z-index: 1; }
body > .body { max-width: 1920px; background: transparent; overflow-x: hidden; margin: 0px auto; }
a { text-decoration: underline; }
img { max-width: 100%; }
.icon { position: relative; }
.icon::before { position: relative; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; color: rgb(255, 103, 0); text-indent: initial; }
.icon.fa-credit-card::before { content: ""; }
.icon.fa-cc-visa::before { content: ""; }
.icon.fa-cc-mastercard::before { content: ""; }
.icon.fa-cc-paypal::before { content: ""; }
.icon.fa-envelope::before { content: ""; }
.icon.fa-tty::before { content: ""; }
.btn { display: inline-block; max-width: 100%; font-weight: bold; text-decoration: none; text-transform: uppercase; white-space: normal; }
.btn-lg { font-size: 120%; padding: 15px 30px; }
.btn-info { background-color: rgb(29, 175, 210); }
.btn-info:hover { background-color: rgb(255, 103, 0); border-color: rgb(255, 103, 0); }
.badge { color: rgb(255, 255, 255); border-radius: 4px; padding: 10px 16px 8px; }
.badge.badge-success { background-color: rgb(13, 205, 192); }
h1, h2, h3, h4, h5 { font-weight: bold; text-align: center; color: rgb(0, 12, 18); }
h1 a, h2 a, h3 a, h4 a, h5 a { color: rgb(0, 12, 18); text-decoration: underline; }
h1 { font-size: 300%; }
h2 { font-size: 240%; margin: 0px auto 30px; }
h3 { font-size: 200%; }
h4 { font-size: 120%; text-transform: uppercase; }
.navbar-toggle:hover .icon-bar { background-color: rgb(255, 103, 0); }
.navbar-toggle, .navbar-toggle.collapsed, .navbar-toggle.collapsed:hover { background-color: rgb(22, 30, 40); }
.navbar-toggle .icon-bar, .navbar-toggle.collapsed .icon-bar, .navbar-toggle.collapsed:hover .icon-bar { background-color: rgb(238, 238, 238); }
.navbar { border: medium none; border-radius: 0px; overflow: hidden; margin: 0px auto; }
.navbar .navbar-brand { display: none; }
.navbar .navbar-brand img { max-height: 85%; }
.navbar .navbar-brand .logo-image { display: inline-block; }
.navbar .navbar-brand .logo-thumb { display: none; }
.navbar .phone { display: block; text-decoration: none; color: rgb(255, 255, 255); font-size: 20px; line-height: 30px; margin: 10px 10px 0px; }
.navbar .nav > li > a { line-height: 20px; font-weight: bold; text-decoration: none; text-transform: uppercase; color: rgb(0, 0, 0); }
.navbar .top-line .container { width: 100%; }
header.header.sticky { display: none; position: fixed; top: 0px; left: 0px; right: 0px; background: rgb(245, 245, 245) url("../images/bg-white.jpg") repeat scroll center top; margin: 0px; z-index: 500; box-shadow: 0px 0px 15px rgb(0, 0, 0); }
header.header.sticky .navbar .top-line { display: none ! important; }
.navbar .top-line { height: 24px; overflow: hidden; font-size: 13px; line-height: 24px; background-color: rgb(22, 30, 40); color: rgb(153, 153, 153); }
.navbar .top-line span { position: relative; height: 24px; line-height: 24px; margin-left: 30px; }
.navbar .top-line span::before { position: absolute; left: -30px; top: -2px; width: 20px; height: 20px; content: ""; background: transparent url("../images/sprite.png") no-repeat scroll 0px 0px; }
.navbar .top-line .plus { margin-right: 10px; }
.navbar .top-line .exclam::before { background-position: -20px 0px; }
.navbar .top-line .container .row > .col-md-12 { text-align: center; }
#banner { position: relative; background: transparent; color: rgb(255, 255, 255); padding: 0px; }
#banner .banner-size { height: 310px; padding-top: 210px; }
#banner .flags { display: none; position: absolute; right: 15px; top: 15px; width: 14px; height: 11px; background-color: rgb(255, 0, 0); }
#banner .contacts { position: absolute; left: 0px; right: 0px; top: 0px;}
#banner .contact { background-color: rgba(18, 21, 36, 0.73); padding: 5px; margin-bottom: 5px; }
#banner .contact .icon::before { padding-right: 7px; }
#banner .contact .full { display: none; }
#banner .banner-head { padding-top: 120px; }
#spice-logo-link { display: block; position: absolute; left: 40%; right: 40%; bottom: 0px; height: 8%; }
.white { padding: 20px 0px 50px; }
.black { position: relative; background: rgb(2, 16, 23) url("../images/bg-black.jpg") repeat scroll center top; color: rgb(255, 255, 255); padding: 20px 0px; }
.black h1, .black h2, .black h3, .black h4, .black h5 { color: rgb(255, 255, 255); }
.black h1 a, .black h2 a, .black h3 a, .black h4 a, .black h5 a { color: rgb(255, 255, 255); }
.breadcrumb > li + li::before { content: "»"; color: inherit; padding: 0px 5px; }
.controls a::before { padding-right: 5px; }
form .icon::before { position: absolute; right: 0px; top: 0px; width: 50px; height: 50px; line-height: 50px; border-radius: 4px; }
form .icon.fa-asterisk::before { width: 25px; height: 25px; line-height: 25px; text-align: center; color: rgb(210, 29, 47); }
#feedback { position: relative; background: rgb(8, 7, 9) url("../images/feedback-image.jpg") repeat-x scroll center top; color: rgb(255, 255, 255); text-align: center; padding: 0px; }
#feedback .feedback-fill { padding: 50px 0px; }
#feedback h1, #feedback h2 { margin: 0px auto 20px; }
#feedback .map::before { padding-right: 10px; }
#partners { padding: 60px 0px 30px; }
#partners .partner { min-height: 120px; text-align: center; padding-bottom: 10px; }
#partners .partner img { display: block; width: 64px; height: 64px; margin: 0px auto; }
#footer { position: relative; background: rgb(18, 21, 36) url("../images/bg-footer.jpg") repeat-x scroll center top; color: rgb(255, 255, 255); border: medium none; margin-top: 0px; }
#footer-wrapper { margin-bottom: 40px; }
#footer li { border: medium none; font-weight: 100; }
#footer .salon-info { position: relative; padding-left: 100px; }
#footer .salon-info li::before { position: absolute; left: 0px; }
#footer .salon-info .address::before { content: "Адрес:"; }
#footer .salon-info .hours::before { content: "График:"; }
#footer .salon-info .phone::before { content: "Телефоны:"; }
#footer .salon-info .email::before { content: "Email:"; }
#footer .salon-info .requisite::before { content: "Реквизиты:"; }
#footer .salon-info .links::before { content: "Каталоги:"; }
#footer .menu .vk::before, #footer .menu .fb::before, #footer .menu .tw::before, #footer .menu .ok::before, #footer .menu .in::before { display: inline-block; width: 20px; height: 20px; background: transparent url("sprite.png") no-repeat scroll 0px -20px; content: ""; margin: 0px 10px -5px 0px; }
#footer .menu .fb::before { background-position: -20px -20px; }
#footer .menu .ok::before { background-position: -40px -20px; }
#footer .menu .in::before { background-position: -60px -20px; }
#footer .menu .tw::before { background-position: -60px -40px; }
#sub-floor { text-align: center; background-color: transparent; border-top: 1px solid rgb(42, 46, 59); padding: 40px 0px; }
#sub-floor .copyright { display: inline-block; position: relative; color: rgb(255, 255, 255); text-decoration: underline; font-size: 85%; font-weight: 100; padding-left: 53px; margin: 0px auto; }
#sub-floor .copyright::before { display: block; position: absolute; left: -15px; top: -15px; width: 60px; height: 47px; content: ""; }
#sub-floor .copyright.light::before { background: transparent url("Spice_Promo_logo_L.png") no-repeat scroll center center; }
#sub-floor .copyright.dark::before { background: transparent url("urn:not-loaded:http://relax-1.ru/wp-content/themes/brew/spice/images/Spice_Promo_logo_D.png") no-repeat scroll center center; }
