/* Effective stylesheet produced by snapshot save */
#contacts .salon-info li::before { position: absolute; left: 0px; font-weight: bold; }
#contacts .salon-info li::after { position: absolute; left: 0px; right: 0px; bottom: 0px; border-top: 1px solid rgb(211, 214, 216); border-bottom: 1px solid rgb(255, 255, 255); content: ""; }
#contacts .salon-info li:last-child::after { display: none; }
#contacts .salon-info .address::before { content: "Адрес:"; }
#contacts .salon-info .hours::before { content: "График:"; }
#contacts .salon-info .phone::before { content: "Телефоны:"; }
#contacts .salon-info .email::before { content: "Email:"; }
#contacts .salon-info .requisite::before { content: "Реквизиты:"; }
#contacts .salon-info .metro::before { content: "Метро:"; }
#contacts .salon-info .about::before { content: "Пояснение:"; }
#contacts .salon-info .photo::before { content: "Фасад:"; }
#map { padding-bottom: 0px; }
#map .phone { display: inline-block ! important; font-size: 200%; font-weight: bold; padding-bottom: 30px; }
#map .phone::before { position: absolute; left: -35px; font-size: 120%; line-height: 120%; padding-right: 6px; }
.map-wrapper { overflow: hidden; height: 300px; text-align: center; }
.map-wrapper::before { position: absolute; left: 0px; right: 0px; top: 0px; height: 15px; background: transparent linear-gradient(to bottom, rgb(1, 13, 19) 0%, transparent 100%) repeat scroll 0% 0%; }
.map-wrapper img { width: 1920px; max-width: 1920px; height: 550px; margin: 0px auto; }
#spice_map { width: 100%; height: 550px; }
