/* Effective stylesheet produced by snapshot save */
.questions .question .name a::before { position: absolute; color: rgb(29, 175, 210); top: 4px; left: -15px; }
.questions .question .name a.fa-caret-down::before { content: "" ! important; }
#feedback .comment { text-align: left; margin: 30px 0px; }
#feedback .comment .date::before { position: relative; left: -2px; content: ","; font-weight: bold; color: rgb(255, 255, 255); font-size: 120%; padding-right: 5px; }
#feedback .comment .message::before { position: absolute; left: -90px; font: 150px/0px "Times New Roman",Times,serif; content: "“"; color: rgb(255, 103, 0); margin: 55px auto 0px; }
