/* Effective stylesheet produced by snapshot save */
#girls { padding-bottom: 60px; }
#girls h2 { margin-bottom: 30px; }
#girls .girl { text-align: center; margin-top: 30px; }
.girl .girl-wrapper { display: inline-block; position: relative; overflow: hidden; width: 100%; min-height: 40px; max-height: 400px; text-align: center; margin: 0px auto; }
.girl .girl-wrapper:hover { box-shadow: 7px -7px 30px -5px rgba(15, 17, 29, 0.3), -7px -7px 30px -5px rgba(15, 17, 29, 0.3); }
.girl .girl-wrapper .info { position: absolute; bottom: -1px; left: 0px; right: 0px; background-color: rgba(15, 17, 29, 0.75); color: rgb(255, 255, 255); padding: 15px; }
.girl .girl-wrapper .info .name { display: block; color: rgb(255, 255, 255); font-size: 100%; line-height: 15px; font-weight: bold; text-align: center; text-transform: uppercase; }
.girl .girl-wrapper .params { display: none; width: 100%; font-size: 100%; line-height: 1; margin-top: 5px; }
.girl .girl-wrapper .badge.icon::before { position: absolute; left: 10px; top: 10px; }
.girl .params { margin: 0px auto; }
.girl .params tr { padding-top: 10px; }
.girl .params th { width: 50%; text-align: right; font-weight: lighter; padding: 10px 5px 0px 0px; }
.girl .params th::after { content: ":"; }
.girl .params td { text-align: left; font-weight: lighter; padding: 10px 10px 0px 0px; }
.girl .girl-wrapper:hover .params { display: table; }
.girl .links .icon::before { position: absolute; top: -40px; left: 0px; right: 0px; font-size: 30px; }
#girls .girl { max-width: 585px; margin-left: auto; margin-right: auto; }
#girls .girl .params th { width: 25%; text-align: center; font-weight: normal; }
#girls .girl .params td { text-align: center; font-weight: 900; padding: 0px; }
#girls .girl .info { text-align: right; }
#girls .girl .badge.images::before { display: none; }
#girl .links .icon::before { padding-right: 5px; }
#girl .services .icon::before { width: 20px; padding-right: 5px; }
#girl .services .fa-check::before { color: rgb(81, 129, 19) ! important; }
#girl .services .fa-heart::before { color: rgb(232, 29, 58) ! important; }
#girl .services .fa-times, #girl .services .fa-times::before { color: rgb(170, 170, 170) ! important; }
#girl .services.legend .icon::before { width: 14px; padding-right: 2px; }
#girl .hours-table tr.dates th:nth-child(2) { border-left: medium none; }
.single_girl .images .image:hover a::before { content: " "; background: transparent url("urn:not-loaded:http://relax-1.ru/wp-content/themes/brew/spice/images/icons/zoom-photo.png") no-repeat scroll center center; display: inline-block; position: absolute; width: 52px; height: 52px; top: 50%; left: 50%; margin: -26px 0px 0px -26px; }
.girl-wrapper a.girl_link { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; }
