/* Effective stylesheet produced by snapshot save */
#banner.banner-home .banner-size { height: 650px; }
#banner.banner-home .cards { position: absolute; left: 15px; bottom: 40px; text-align: left; }
#banner.banner-home .cards .icon { font-size: 200%; }
#banner.banner-home .cards .icon::before { color: rgb(255, 255, 255); }
#girls.girls-home { padding: 60px 0px 80px; }
#girls.girls-home .container .row { text-align: center; }
#girls.girls-home .girl { min-width: inherit; min-height: inherit; margin-bottom: 20px; display: inline-block; float: none ! important; width: 24%; }
#girls.girls-home .girl .params th { width: 50%; text-align: right; padding: 10px 10px 0px 0px; }
#girls.girls-home .girl .params td { text-align: left; font-weight: lighter; padding: 10px 10px 0px 0px; }
#girls.girls-home .btn { margin-top: 20px; }
#actions.actions-home { position: relative; overflow: hidden; }
#actions.actions-home .actions-fill { padding: 40px 0px; }
#actions.actions-home .metaslider .flexslider .caption-wrap { top: auto; bottom: 0px; opacity: 0.8; height: 50%; background: transparent linear-gradient(to bottom, transparent 50%, rgb(1, 13, 19) 100%) repeat scroll 0% 0%; }
#actions.actions-home .metaslider .flexslider .caption { position: absolute; top: auto; bottom: 0px; left: 0px; right: 0px; background-color: transparent; }
.white-home { padding: 60px 0px 0px; }
.white-home .row > div[class^="col-"] { padding-bottom: 40px; }
.services.services-home { margin: 0px 0px 30px; }
.services.services-home .service .meta { position: static; width: auto; float: right; margin: 0px; }
.services.services-home .service .meta .badge { position: static; }
.services.services-home .service .meta .price { position: static; }
.services.services-home .service .meta .duration { display: none; }
#blog.blog-home .post { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 100%; font-weight: bold; padding: 15px 0px 0px; margin: 0px; }
#blog.blog-home .post .date { display: block; color: rgb(171, 171, 171); font-size: 90%; font-weight: 100; margin: 0px 0px 10px; }
#blog.blog-home .post a { color: rgb(0, 0, 0); text-decoration: underline; }
#feedback.feedback-home .feedback-fill { padding: 60px 0px 70px; }
#feedback.feedback-home h2 { margin: 0px auto 20px; }
#feedback.feedback-home span { display: block; }
#feedback.feedback-home .meta { text-transform: uppercase; font-weight: 100; font-size: 85%; letter-spacing: 3px; }
#feedback.feedback-home .quote { font: 150px/0px "Times New Roman",Times,serif; color: rgb(255, 103, 0); margin: 90px auto 20px; }
#feedback.feedback-home .comment { font-size: 120%; font-weight: 100; text-align: center; max-width: 670px; margin: 0px auto 50px; }
#feedback.feedback-home .btn { margin-bottom: 20px; }
#interior.interior-home { padding: 60px 0px 40px; }
#interior.interior-home h2 { margin-bottom: 50px; }
#interior.interior-home .interior { text-align: center; margin: 10px auto 20px; }
#interior.interior-home .info { text-align: center; }
#interior.interior-home .info .text { max-height: 275px; overflow: hidden; font-size: 120%; line-height: 30px; font-weight: 100; margin-bottom: 40px; }
#interior.interior-home .btn { margin-bottom: 20px; }
#video.video-home .video-wrapper::before { position: absolute; left: 0px; right: 0px; bottom: -100px; height: 105px; content: ""; background: transparent url("slider-shadow.png") no-repeat scroll center top / cover ; }
#about.about-home { padding: 30px 0px 0px; }
#about.about-home h2 { padding: 30px 0px; margin: 0px; }
#about.about-home h4 { text-transform: uppercase; text-align: left; }
#about.about-home > img { max-width: 100%; margin: 0px -9999px; }
#about.about-home .options p { padding: 0px; }
#about.about-home h4, #about.about-home .options .icon { padding-left: 50px; }
#about.about-home .options .icon::before { position: absolute; left: 25px; top: 0px; font-size: 240%; margin-top: -5px; }
#about.about-home .options .icon img { position: absolute; left: 0px; top: 0px; font-size: 240%; }
#about.about-home .options .icon img { left: 5px; width: 40px; height: 40px; }
#about.about-home p { padding-bottom: 30px; margin: 0px; }
#about.about-home .about_div { width: 75%; margin: auto; }
#about.about-home .about_div p { text-align: left; text-indent: 1.5em; }
#map.map-home { position: relative; overflow: hidden; }
#map.map-home .map-fill { padding: 40px 0px 0px; }
#map.map-home h2 { margin: 0px auto 20px; }
#map.map-home a, #map.map-home span { display: block; }
#map.map-home .map { font-weight: 100; font-size: 120%; padding-bottom: 20px; }
#map.map-home .map::before { padding-right: 6px; }
.icon { position: initial; }
