/* Effective stylesheet produced by snapshot save */
.hours-table tr.hours:nth-child(2n) { border: 1px solid rgb(171, 171, 171); }
.hours-table tr.dates th.today::before { position: absolute; overflow: hidden; left: -2px; right: -2px; top: -20px; height: 20px; content: "сегодня"; font-size: 9px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-stretch: ultra-condensed; text-align: center; color: rgb(255, 255, 255); background-color: rgb(171, 171, 171); }
.hours-table tr.hours td::before { position: absolute; left: 50%; top: 50%; width: 20px; height: 20px; background: transparent url("sprite.png") no-repeat scroll 0px -40px; overflow: hidden; content: ""; margin: -11px 0px 0px -10px; }
.hours-table tr.hours td.half2::before { background-position: -20px -40px; }
.hours-table tr.hours td.full::before { background-position: -40px -40px; }
.hours-table tr.hours td.empty::before { background-image: none; }
.hours-table.active tr.dates th.today::before { background-color: rgb(74, 158, 0); }
