body {font-family:'PT Serif','Open Sans',Arial,serif;}
h1, h2, h3, h4, h5, h6 {font-family:'PT Serif','Open Sans',Arial,serif;}
.navbar .nav li{font-family:'PT Serif','Open Sans',Arial,serif;}
.black{background-image:url("http://relax-1.ru/wp-content/uploads/sites/42/2016/04/Massage_1_PNG_D1.png")}
#feedback{background-image:url("http://relax-1.ru/wp-content/uploads/sites/42/2016/04/Massage_1_back_12.jpg")}
#actions.actions-home{background-image:url("http://relax-1.ru/wp-content/uploads/sites/42/2016/04/Massage_1_back_13.jpg")}
#footer{background-image:url("http://relax-1.ru/wp-content/uploads/sites/42/2016/04/Massage_1_footer5.jpg")}
#about .about-background, #about.about-home .about-background{background-image:url("http://relax-1.ru/wp-content/uploads/sites/42/2016/04/Massage_1_PNG3.png")}

.pattern {background-image:url("../images/background-pattern-light.png")}

body {font-size: 14px; color: #000c12;}
a {color: #000c12;}
h1, h2, h3, h4, h5,
h1 a, h2 a, h3 a, h4 a, h5 a {color: #000c12;}

.icon:before {color: #f9b300;}

/* buttons */
.btn-info {color: #f9de9a !important; background-color: #ab3f6b; border-color: #ab3f6b;}
.btn-border {background-color: rgba(0,12,18,0.1) !important;}
.btn-info.btn-border {color: #ab3f6b !important; border-color: #ab3f6b !important;}
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.btn-info.btn-border:active,
.btn-info.btn-border:focus,
.btn-info.btn-border:hover {color: #f9eec7 !important; background-color: #6d1f5f !important; border-color: #6d1f5f !important;}
.btn-info.btn-active, .btn-border.btn-active,
.btn-info.btn-active:active,
.btn-info.btn-active:focus,
.btn-info.btn-active:hover,
.btn-border.btn-active:active,
.btn-border.btn-active:focus,
.btn-border.btn-active:hover {background-color: #6d1f5f !important; border-color: #6d1f5f !important; color: #f9eec7 !important;}
.pagination .btn-info.btn-border,
#girls .filter .btn-info.btn-border {color: #000c12 !important; border-color: #000c12 !important;}
.vfb-item-file-upload .btn-info.btn-border {color: #ff6700 !important; border-color: #ff6700 !important;}
.pagination .btn-info.btn-border:active,
.pagination .btn-info.btn-border:focus,
.pagination .btn-info.btn-border:hover,
#girls .filter .btn-info.btn-border.btn-active,
#girls .filter .btn-info.btn-border:active,
#girls .filter .btn-info.btn-border:focus,
#girls .filter .btn-info.btn-border:hover,
.vfb-item-file-upload .btn-info.btn-border:active,
.vfb-item-file-upload .btn-info.btn-border:focus,
.vfb-item-file-upload .btn-info.btn-border:hover {color: #f9de9a !important; border-color: #6d1f5f !important;}

.badge {color: #ffffff;}

hr {border-top-color: rgba(0,12,18,0.2); border-bottom-color: rgba(0,12,18,0.4);}

/* top nav */
header.header,
header.header.sticky {
  background-color: #f5f5f5;
  
}
header.header,
header.header .navbar .phone,
header.header .navbar .nav>li>a,
header.header .navbar .nav>li>a:before,
header.header.sticky,
header.header.sticky .navbar .nav>li>a,
header.header.sticky .navbar .nav>li>a:before {color: #000c12;}

.navbar-toggle:hover {background-color: #6d1f5f;}
.navbar-toggle:hover .icon-bar {background-color: #f9eec7;}
.navbar-toggle,
.navbar-toggle.collapsed,
.navbar-toggle.collapsed:hover {background-color: #ab3f6b;}
.navbar-toggle .icon-bar,
.navbar-toggle.collapsed .icon-bar,
.navbar-toggle.collapsed:hover .icon-bar {background-color: #f9de9a;}
.navbar .nav>li>a:hover, .navbar .nav>li.current-menu-item>a, .navbar .nav>li.active>a {background-color: rgba(245,245,245,0.5);}
@media (min-width: 768px) {
  .navbar .nav>li.home a:hover{background-color: rgba(245,245,245,0.1);}
}
@media (min-width: 768px) {
  header.header.sticky .navbar .nav>li.home a:hover{background-color: rgba(245,245,245,0.1);}
}


/* top line 18+ */
.navbar .top-line {
  color: #999999;
  background-color: #161e28;
}



/* blocks */
.white {color: #000c12;}
.white a {color: #000c12;}
.white h1, .white h2, .white h3, .white h4, .white h5,
.white h1 a, .white h2 a, .white h3 a, .white h4 a, .white h5 a {color: #000c12;}
.white hr {border-top-color: rgba(0,12,18,0.2); border-bottom-color: rgba(0,12,18,0.4);}
.black {background-color: #021017;}
.black, .black a {color: #ffffff;}
.black h1, .black h2, .black h3, .black h4, .black h5,
.black h1 a, .black h2 a, .black h3 a, .black h4 a, .black h5 a {color: #ffffff;}
.black hr {border-top-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.4);}


/* banner */
#banner, #banner a {color: #ffffff;}
#banner h1, #banner h2, #banner h3, #banner h4, #banner h5,
#banner h1 a, #banner h2 a, #banner h3 a, #banner h4 a, #banner h5 a {color: #ffffff;}
#banner hr {border-top-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.4);}
#banner .contact {background-color: rgba(2,16,23,0.5);}
#banner .description {color: #ffffff;}
#banner .cards .icon:before {color: #ffffff !important;}
#banner .contact .map a {border-bottom-color: #ffffff;}


/* footer */
#footer {background-color: #000000;}
#footer, #footer a, #footer li, #footer li a {color: #ffffff;}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5,
#footer h1 a, #footer h2 a, #footer h3 a, #footer h4 a, #footer h5 a {color: #ffffff;}
#footer hr {border-top-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.4);}
#sub-floor {border-color: rgba(255,255,255,0.3);}
#sub-floor .copyright {color: #ffffff;}


/* blog */
#blog .blog-post .date {color: rgba(0,12,18,0.6);}


/* contacts */
#contacts .salon-info li:after {border-top-color: rgba(0,12,18,0.4); border-bottom-color: rgba(0,12,18,0.1);}


/* feedback */
#feedback {background-color: #021017; color: #ffffff;}
#feedback a {color: #ffffff;}
#feedback span.phone, #feedback span.text, #feedback h1, #feedback h2, #feedback span.text, #feedback h3, #feedback h4, #feedback h5,
#feedback span.phone a, #feedback span.text a, #feedback h1 a, #feedback h2 a, #feedback h3 a, #feedback h4 a, #feedback h5 a {color: #ffffff;}
#feedback hr {border-top-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.4);}
#feedback .comment .date {color: rgba(255,255,255,0.8)}
#feedback .comment .date:before {color: #ffffff;}
#feedback .comment .message:before {color: #f9b300;} 
#feedback .answer {border-color: #f9b300;}
#feedback .answer .answer-corner td.line {border-top-color: #f9b300;}
#feedback .answer .answer-corner .corner {border-top-color: #f9b300; border-left-color: #f9b300;}

.questions .question {border-top-color: rgba(0,12,18,0.6); border-bottom-color: rgba(0,12,18,0.2);}
.questions .question .name a {border-bottom-color: #000c12;}
.questions .question .name a:before {color: #ab3f6b;}
.questions .question .name a.fa-caret-down {color: #f9b300;}


/* girls */
.girl .girl-wrapper .badge.new {background-color: #edb900;}
.girl .links .icon {color: #000c12;}
.girl .description {height: 60.2px; max-height: 60.2px;}
#girl .links a {color: #000c12; border-bottom-color: #000c12;}
#girl .price {color: rgba(0,12,18,0.5);}
#girl .price strong {color: #f9b300;}


/* hours */
.hours-table-wrapper {background-color: rgba(255,255,255,0.2);}
.hours-table {border-color: rgba(0,12,18,0.2);}
.hours-table tr.hours:nth-child(even) {border-color: rgba(0,12,18,0.2);}
.hours-table tr.dates th,
.hours-table tr.hours td {border-left-color: rgba(0,12,18,0.2);}
.black .hours-table-wrapper {background-color: rgba(0,12,18,0.2);}
.black .hours-table {border-color: rgba(255,255,255,0.2);}
.black .hours-table tr.hours:nth-child(even) {border-color: rgba(255,255,255,0.2);}
.black .hours-table tr.dates th,
.black .hours-table tr.hours td {border-left-color: rgba(255,255,255,0.2);}



/* home */
#actions.actions-home {background-color: #021017; color: #ffffff;}
#blog.blog-home .post .date {color: rgba(0,12,18,0.6);}
#blog.blog-home .post a {color: #000c12;}
#feedback.feedback-home .quote {color: #f9b300;}
#video.video-home {background-color: #021017; color: #ffffff;}
#map.map-home {background-color: #021017; color: #ffffff;}
#map.map-home .map {color: #ffffff;}


/* interior */
.metaslider .flexslider .flex-control-paging li a:hover,
.metaslider .flexslider .flex-control-paging li a.flex-active {background-color: #ab3f6b;}
.metaslider .flexslider .flex-direction-nav a {color: #ab3f6b; border-color: #ab3f6b;}
.metaslider .flexslider .flex-direction-nav a:hover {background-color: #ab3f6b; color: #f9de9a;}
.metaslider .flexslider .flex-direction-nav a:hover:before {color: #f9de9a;}
.metaslider .flexslider .flex-direction-nav a:before {color: #ab3f6b;}


/* services */
.citation {border-color: rgba(0,12,18,0.2);}
.services .services-head {background-color: rgba(255,255,255,0.3); color: #000c12;}
.services .service {border-top-color: rgba(0,12,18,0.4); border-bottom-color: rgba(0,12,18,0.1);}
.services .service.expanded {background-color: rgba(245,245,245,0.2);}
.services .service .name a {border-bottom-color: #000c12;}
.services .service .meta .duration {color: rgba(0,12,18,0.6);}
.services .service .meta .price {color: #ab3f6b;}
.services .service .meta .price_card {color: #ab3f6b;}
.services .service .name a:before {color: #ab3f6b;}
.services .service .name a.fa-caret-down {color: #f9b300;}
.services .service.group .name {color: #ab3f6b;}
.services .service .meta .badge.hit {background-color: #9861a8;}
.services .service .meta .badge.sale {background-color: #a81010;}
.services .service .meta .badge.new {background-color: #edb900;}


/* home actions */
#actions.actions-home {color: #ffffff;}
#actions.actions-home a {color: #ffffff;}
#actions.actions-home h1, #actions.actions-home h2, #actions.actions-home h3, #actions.actions-home h4, #actions.actions-home h5,
#actions.actions-home h1 a, #actions.actions-home h2 a, #actions.actions-home h3 a, #actions.actions-home h4 a, #actions.actions-home h5 a {color: #ffffff;}
