/* Effective stylesheet produced by snapshot save */
.metaslider::before { position: absolute; left: 0px; right: 0px; bottom: -105px; height: 105px; opacity: 0.8; content: ""; background: transparent url("slider-shadow.png") no-repeat scroll center top / 100% auto; }
.metaslider .flexslider .caption-wrap { position: absolute; left: 0px; right: 0px; top: 30px; bottom: auto; background-color: transparent; text-align: center; padding: 0px 20px; }
.metaslider .flexslider .caption { position: static; display: inline-block; border-radius: 4px; background-color: rgba(1, 13, 19, 0.8); padding: 10px 15px; }
.metaslider .flexslider .caption h3 { font-size: 15px; color: rgb(255, 255, 255); text-transform: uppercase; margin: 0px; }
.metaslider .flexslider .flex-control-nav { bottom: -30px; }
.metaslider .flexslider .flex-control-paging li a { background-color: rgb(255, 255, 255); margin: 0px 5px; }
.metaslider .flexslider .flex-control-paging li a:hover, .metaslider .flexslider .flex-control-paging li a.flex-active { background-color: rgb(29, 175, 210); }
.metaslider .flexslider .flex-direction-nav a { width: 40px; height: 40px; line-height: 40px; font-size: 160%; text-align: center; text-decoration: none; background: transparent none repeat scroll 0% 0%; color: rgb(29, 175, 210); overflow: hidden; text-indent: -9999px; border: 1px solid rgb(29, 175, 210); border-radius: 4px; }
.metaslider .flexslider .flex-direction-nav a:hover { background-color: rgb(29, 175, 210); color: rgb(255, 255, 255); }
.metaslider .flexslider .flex-direction-nav a:hover::before { color: rgb(255, 255, 255); }
.metaslider .flexslider .flex-direction-nav a::before { position: absolute; top: 0px; width: 100%; height: 100%; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 38px; text-indent: initial; color: rgb(29, 175, 210); }
.metaslider .flexslider .flex-prev::before { left: -2px; content: ""; }
.metaslider .flexslider .flex-next::before { right: -2px; content: ""; }
.metaslider .flexslider:hover .flex-prev { left: 15px; }
.metaslider .flexslider:hover .flex-next { right: 15px; }
