/* Effective stylesheet produced by snapshot save */
#actions h2 { margin-bottom: 50px; }
#actions .metaslider .flexslider .caption-wrap { top: auto; bottom: 0px; opacity: 0.8; height: 50%; background: transparent linear-gradient(to bottom, transparent 50%, rgb(1, 13, 19) 100%) repeat scroll 0% 0%; }
#actions .metaslider .flexslider .caption { display: none; }
#actions .metaslider .flex-control-nav { bottom: 20px; }
.services .services-head, .services .service { position: relative; text-transform: uppercase; clear: both; padding: 18px 18px 18px 24px; }
.services .service .name { display: table-cell; max-width: 70%; z-index: 2; }
.services .service .name a { text-decoration: none; border-bottom: 1px dotted rgb(0, 0, 0); }
.services .service .meta { position: absolute; right: 0px; top: 18px; width: 100%; font-weight: bold; }
.services .service .meta .badge { margin-right: 10px; }
.services .service .meta .duration { position: absolute; left: 50%; color: rgb(186, 186, 186); }
.services .service .meta .badge { position: absolute; color: rgb(255, 255, 255); right: 50%; margin-top: -5px; }
.services .service .meta .price { position: absolute; right: 22%; color: rgb(255, 103, 0); }
.services .service .content { display: none; text-transform: none; margin-top: 10px; }
.services .service .name a::before { position: absolute; color: rgb(29, 175, 210); top: 50%; left: -15px; margin-top: -8px; }
.services .service .name a.fa-caret-down::before { content: "" ! important; }
.services .service { border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(211, 214, 216); }
.services .service:first-child, .services .service:last-child { border-top: medium none; }
.services .service .name { font-weight: bold; }
