/* Effective stylesheet produced by snapshot save */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: medium none; }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0px; padding: 0px; list-style: outside none none; }
.flexslider { margin: 0px; padding: 0px; }
.flexslider .slides img { width: 100%; display: block; }
.slides::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.flexslider { margin: 0px 0px 60px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 4px solid rgb(255, 255, 255); position: relative; border-radius: 4px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); }
.flex-viewport { max-height: 2000px; transition: all 1s ease 0s; }
.flexslider .slides {  }
.flex-direction-nav {  }
.flex-direction-nav a { width: 30px; height: 30px; margin: -20px 0px 0px; display: block; background: transparent url("urn:not-loaded:http://relax-1.ru/wp-content/plugins/ml-slider/assets/sliders/flexslider/bg_direction_nav.png") no-repeat scroll 0px 0px; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; transition: all 0.3s ease 0s; }
.flex-direction-nav .flex-next { background-position: 100% 0px; right: -36px; }
.flex-direction-nav .flex-prev { left: -36px; }
.flexslider:hover .flex-next { opacity: 0.8; right: 5px; }
.flexslider:hover .flex-prev { opacity: 0.8; left: 5px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-control-nav { width: 100%; position: absolute; bottom: -40px; text-align: center; }
.flex-control-nav li { margin: 0px 6px; display: inline-block; }
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; cursor: pointer; text-indent: -9999px; border-radius: 20px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset; }
.flex-control-paging li a:hover { background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; }
.flex-control-paging li a.flex-active { background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%; cursor: default; }
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 0px; }
  .flex-direction-nav .flex-next { opacity: 1; right: 0px; }
}
.metaslider .flexslider { background: transparent none repeat scroll 0% 0%; box-shadow: none; border: 0px none; margin: 0px 0px 40px; max-width: none; max-height: none; }
.flex-control-nav { bottom: -30px; line-height: 11px; }
.flex-control-nav li { margin: 0px; }
.flex-control-nav li a { margin: 0px 6px; padding: 0px; }
.flexslider .slides li { position: relative; height: auto; }
.flex-viewport { direction: ltr; }
.flex-direction-nav a { transition: all 0.3s ease 0s; }
.flex-control-nav { margin: auto; }
