.noscroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.girlsGallery-wrapper {
    position: fixed;
    top: 0;
    z-index: 1111;
    height: 100%;
    width: 100%;
    width: 100vw;
    background-color: rgba(12, 12, 12, 0.8);
}

.girlsGallery-wrapper > div {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: auto;
}

.girlsGallery-scrollbox {
    display: block;
    /*max-height - set by javascript*/
    overflow-x: hidden;
    overflow-y: auto;
}

.girlsGallery-modal .container {
    font-size: 18px;
    color: #000;
    position: relative;
    border-radius: 2px;
    padding: 0 334px 0 0;
    width: 930px;
    min-height: 550px;
    background-color: #000;
}

.girlsGallery-modal p {
    font-weight: normal;
    /*max-height: 290px;*/
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.04em;
    font-size: 18px;
    text-transform: uppercase;
    font-family:'PT Serif','Open Sans',Arial,serif;
    text-align: center;
}

.girlsGallery-modal a {
    font-weight: bold;
    font-size: 19px;
}

.girlsGallery-modal-image,
.girlsGallery-modal-text {
    position: relative;
    width: 100%;
    float: left;
}

.girlsGallery-modal-image {
    min-height: 550px;
    line-height: 550px;
}

.girlsGallery-modal-text {
    position: absolute;
    background-color: #fff;
    overflow-y: auto;
    padding: 20px;
    bottom: 0;
    right: 0;
    width: 335px;
    height: 100%;
}

.girlsGallery-modal-text .name {
    margin-bottom: 10px;
}

.girlsGallery-modal-text:hover {
    /*ie10 transform glitch fix*/
    background-color: #fffffe;
}

.girlsGallery-modal-image img {
    max-width: 100%;
    /*width: 100%;*/
}

.girlsGallery-modal-text span {
    display: block;
}

.girlsGallery-button {
    text-align: center;
}

.girlsGallery-control {
    font-size: 8rem;
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

.girlsGallery-control a {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    line-height: 100%;
    font-size: 60%;
    text-align: center;
    text-decoration: none;
    font-family: FontAwesome;
    background: transparent none repeat scroll 0 0;
    color: #ab3f6b;
    overflow: hidden;
    border: 1px solid #ab3f6b;
    border-radius: 4px;
    text-indent: -9999px;
}

.girlsGallery-control a:hover {
    background-color: #ab3f6b;
    color: #f9de9a;
}

.girlsGallery-control a:hover::before {
    color: #f9de9a;
}

.girlsGallery-control a::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-indent: initial;
    color: #ab3f6b;
}

.girlsGallery-right {
    bottom: 20px;
    right: 20px;
}

.girlsGallery-left {
    bottom: 20px;
    left: 20px;
}

.girlsGallery-close {
    top: 20px;
    left: 20px;
}

.girlsGallery-close a::before {
    left: 0;
    content: "\f00d";
    line-height: 90%;
}

.girlsGallery-left a::before {
    left: -2px;
    content: "\f053";
}

.girlsGallery-right a::before {
    right: -2px;
    content: "\f054";
}

#girlsGallery-modal-collection {
    margin-top: 25px;
}

#girlsGallery-modal-collection .img-container {
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
}

#girlsGallery-modal-collection .img-container img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#appointment-form .help-block {
    font-size: 14px;
}

@media (max-width: 1200px) {
    .girlsGallery-modal .container {
        padding-right: 0;
        width: 100%;
    }

    .girlsGallery-modal-image {
        width: 100%;
    }

    .girlsGallery-modal-text {
        text-align: left;
        position: relative;
        bottom: auto;
        right: auto;
        width: 100%;
    }
}

@media only screen and (min-width: 940px) and (max-width: 1200px) and (orientation: landscape) {
    .girlsGallery-modal .container {
        padding-right: 334px;
        width: 850px;
    }

    .girlsGallery-modal-text {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 335px;
        height: 100%;
    }

    #girlsGallery-modal-collection .img-container {
        width: 110px;
        height: 110px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 940px) {
    .girlsGallery-wrapper > div {
        left: 30%;
        transform: translate(-20%, -50%);
    }
    .girlsGallery-modal-image{
        min-height: 300px;
        max-height: 450px;
        line-height: 450px;
    }
    .girlsGallery-modal-image img{
        max-height: 450px;
    }
    #girls.girls-home .girlsGallery-modal-text .form-group .btn-lg{
        padding: 10px 25px;
        font-size: 18px;
        margin-top: 21px;
    }
}
@media (max-width: 767px) {
    .girlsGallery-control a {
        font-size: 50%;
        width: 40px;
        height: 40px;
    }

    .girlsGallery-modal-text {
        width: 100%;
    }

    .girlsGallery-wrapper > div {
        left: 15%;
        transform: translate(-10%, -50%);
    }

    #girlsGallery-modal-collection .img-container {
        width: 100px;
        height: 100px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 465px) {
    .girlsGallery-wrapper > div {
        top: 0;
        left: 0;
        transform: none;
    }
    .girlsGallery-modal-image{
        min-height: 200px;
        max-height: 300px;
        line-height: 300px;
    }
    .girlsGallery-modal-image img{
        max-height: 300px;
    }
    .girlsGallery-modal-text{
      padding: 10px;
    }
    .girlsGallery-modal-text .name {
        margin: 0;
    }
    /*.girlsGallery-modal-text .form-group {
        float:left;
    }*/
    .girlsGallery-modal-text .form-group .input-lg{
        /*max-width: 160px;*/
        margin: 20px 10px 0 0;
        font-size: 14px;
    }
    #girls.girls-home .girlsGallery-modal-text .form-group .btn-lg{
        padding: 12px 8px;
        font-size: 12px;
        margin-top: 26px;
    }
}
