/* Effective stylesheet produced by snapshot save */
@media (max-width: 600px) {
  h1 { font-size: 260% ! important; }
  h2 { font-size: 160% ! important; }
  h3 { font-size: 120% ! important; }
  h4 { font-size: 100% ! important; }
}
@media (min-width: 768px) {
  .navbar .navbar-brand .logo-image { display: none; }
  .navbar .navbar-brand .logo-thumb { display: inline-block; }
}
@media (min-width: 992px) {
  .navbar .navbar-brand .logo-image { display: inline-block; }
  .navbar .navbar-brand .logo-thumb { display: none; }
}
@media (min-width: 520px) {
  .navbar .navbar-brand { display: block; height: 50px; line-height: 50px; padding: 0px 0px 0px 15px; }
  .navbar .phone { float: right; }
  .navbar .nav > li.home { display: none; }
}
@media (min-width: 768px) {
  .navbar { height: 70px; }
  .navbar .container { width: 300%; }
  .navbar .navbar-header, .navbar .navbar-collapse { display: inline-block ! important; float: none ! important; }
  header.label18 .navbar { min-height: 70px; height: initial; }
  header.label18 .navbar .nav { top: 24px; }
  header.label18.sticky .navbar .nav { top: 0px; }
  .navbar .navbar-brand { height: 70px; line-height: 66px; }
  .navbar .navbar-brand img { max-width: 150px; }
  .navbar .phone { display: none; }
  .navbar .navbar-right:last-child { margin-right: -25px; }
  .navbar .nav > li > a { padding: 25px 5px; }
}
@media (min-width: 992px) {
  .navbar { height: 101px; }
  header.label18 .navbar { height: 125px; }
  .navbar .top-line { height: 30px; line-height: 30px; }
  .navbar .navbar-brand { height: 100px; line-height: 96px; }
  .navbar .navbar-brand img { max-width: 250px; }
  .navbar .nav { margin-right: -15px; }
  .navbar .nav > li > a { padding: 35px 15px; }
  .navbar .nav > li.home > a { width: 60px; }
}
@media (min-width: 768px) {
  header.header.sticky .navbar { height: 72px; }
  header.header.sticky .navbar .navbar-brand { height: 70px; line-height: 66px; }
  header.header.sticky .navbar .navbar-brand img { max-width: 150px; }
  header.header.sticky .navbar .nav > li > a { padding-top: 25px; padding-bottom: 25px; }
  header.header.sticky .navbar .nav > li.home > a { display: inline-block; width: 40px; background: transparent url("home.png") no-repeat scroll center center; text-indent: -999px; overflow: hidden; }
  header.header.sticky .navbar .nav > li.home a:hover { background-color: rgb(238, 238, 238); }
}
@media (max-width: 992px) {
  .navbar .top-line { height: initial; }
  .navbar .top-line span { height: initial; }
}
@media (min-width: 768px) {
  #banner .contacts { position: absolute; left: auto; right: 10px; top: 25px; text-align: right; padding: 5px; border-radius: 4px; }
  #banner .contacts .mobile { display: none; }
  #banner .contacts .full { display: inline; }
  #banner .contacts .phone { display: block; font-size: 200%; font-weight: bold; text-decoration: none; }
  #banner .contacts .metro { display: block; margin-bottom: 5px; }
  #banner .contacts .map { padding-left: 8px; }
  #banner .contacts .map a { text-decoration: none; border-bottom: 1px dotted rgb(255, 255, 255); }
}
@media (min-width: 991px) {
  #banner.banner-home .cards::before { position: relative; top: -5px; content: "Принимаем карты:"; padding-right: 6px; }
}
@media (max-width: 560px) {
  #banner.banner-home .cards .icon { display: none; }
}
@media (min-width: 768px) {
  .white-home .row > div[class^="col-"] { min-height: 160px; }
}
@media (max-width: 991px) {
  .btn-services { display: block; margin: 0px auto; }
}
@media (min-width: 560px) {
  #services.services-home .service .meta span { margin-left: 20px; margin-right: 20px; }
}
@media (min-width: 768px) {
  #services.services-home .service .meta .duration { display: inline-block; }
}
@media (min-width: 768px) {
  #interior.interior-home .info { text-align: left; padding-left: 45px; }
}
@media (min-width: 768px) {
  #about.about-home .options .icon::before { margin-top: 5px; }
}
@media (min-width: 992px) {
  #about.about-home .options .icon::before { left: 15px; }
  #about.about-home h4, #about.about-home .options .icon { padding-left: 70px; }
  #about.about-home .options .icon::before { font-size: 400%; }
  #about.about-home .options .icon img { width: 60px; height: 60px; }
}
@media (max-width: 640px) {
  #girls.girls-home .girl { width: 100%; }
}
@media (min-width: 768px) {
  #girls .girl .badge.images::before { display: block; }
}
@media (min-width: 992px) {
  #girls .girl .badge.images::before { display: none; }
}
@media (min-width: 1200px) {
  #girls .girl .badge.images::before { display: block; }
}
@media (max-width: 465px) {
  .hours-table tr.dates th.today::before { color: transparent; }
}
@media (min-width: 560px) {
  .metaslider .flexslider .flex-direction-nav a { width: 50px; height: 50px; line-height: 50px; font-size: 200%; }
  .metaslider .flexslider .flex-direction-nav a::before { line-height: 49px; }
}
@media (min-width: 768px) {
  .map-wrapper { height: 550px; }
}
@media (max-width: 991px) {
  #services .service .meta { position: static; margin-top: 15px; margin-bottom: 30px; }
}
@media (max-width: 559px) {
  #services .service .meta { text-align: right; white-space: nowrap; margin-bottom: auto; }
  #services .service .meta span { position: static ! important; margin-right: 10px ! important; }
  #services .service .meta .price { margin: 0px; }
}
