/* Effective stylesheet produced by snapshot save */
.vfb-item .vfb-required-asterisk::before { position: absolute; right: 0px; top: 0px; width: 22px; height: 22px; line-height: 22px; text-indent: initial; text-align: center; color: rgb(210, 29, 47); content: ""; font-family: FontAwesome; }
.metaslider .flexslider { position: relative; overflow: hidden; background-color: rgba(0, 0, 0, 0.8) ! important; }
.metaslider .flex-viewport { overflow: hidden; position: relative; }
.metaslider .slides { width: 800%; transition-duration: 0s; transform: translate3d(-750px, 0px, 0px); }
.metaslider .slides img { width: initial ! important; margin: 0px auto; }
