/* Effective stylesheet produced by snapshot save */
.metaslider { position: relative; z-index: 0; }
.metaslider .caption { padding: 5px 10px; overflow-wrap: break-word; }
.metaslider .caption-wrap { position: absolute; bottom: 0px; left: 0px; background: black none repeat scroll 0% 0%; color: white; opacity: 0.7; margin: 0px; display: block; width: 100%; line-height: 1.4em; }
.metaslider img { height: auto; padding: 0px; margin: 0px; -moz-user-select: none; }
.metaslider a { outline: medium none; }
.metaslider li::before, .metaslider li::after { content: "" ! important; display: none ! important; bottom: auto ! important; margin: 0px ! important; }
.article .metaslider ul, .article .metaslider ol, .article .metaslider li, .article .metaslider img, .art-article .metaslider ul, .art-article .metaslider ol, .art-article .metaslider li, .art-article .metaslider img, #widgets .metaslider ul, #widgets .metaslider ol, #widgets .metaslider li, #widgets .metaslider img, .entry .metaslider ul, .entry .metaslider ol, .entry .metaslider li, .entry .metaslider img, #content .metaslider ul, #content .metaslider ol, #content .metaslider li, #content .metaslider img, .entry-content .metaslider ul, .entry-content .metaslider ol, .entry-content .metaslider li, .entry-content .metaslider img, .metaslider .flexslider ul, .metaslider .flexslider .slides li, .metaslider .flexslider .slides ul, .metaslider .flexslider .slides ol, .metaslider .flexslider .flex-direction-nav, .metaslider .flexslider .flex-direction-nav li, [class*="-article"] .metaslider img { border: 0px none; margin: 0px; list-style: outside none none; padding: 0px; line-height: normal; max-width: none; max-height: none; }
.metaslider .slides img { width: 100%; display: block; }
