body { font-family: "Open Sans",Arial,serif; padding: 0px; margin: 0px auto; overflow-x: hidden; }
body::before { position: absolute; display: block; right: 3px; top: 3px; width: 1px; height: 1px; content: " "; background-color: rgb(255, 255, 255); z-index: 1; }
body > .body { max-width: 1920px; background: transparent; overflow-x: hidden; margin: 0px auto; }
a { text-decoration: underline; }
img { max-width: 100%; }
.icon { position: relative; }
.icon::before { position: relative; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; color: rgb(255, 103, 0); text-indent: initial; }
.icon.fa-credit-card::before { content: ""; }
.icon.fa-cc-visa::before { content: ""; }
.icon.fa-cc-mastercard::before { content: ""; }
.icon.fa-cc-paypal::before { content: ""; }
.icon.fa-envelope::before { content: ""; }
.icon.fa-tty::before { content: ""; }
.btn { display: inline-block; max-width: 100%; font-weight: bold; text-decoration: none; text-transform: uppercase; white-space: normal; }
.btn-lg { font-size: 120%; padding: 15px 30px; }
.btn-info { background-color: rgb(29, 175, 210); }
.btn-info:hover { background-color: rgb(255, 103, 0); border-color: rgb(255, 103, 0); }
.badge { color: rgb(255, 255, 255); border-radius: 4px; padding: 10px 16px 8px; }
.badge.badge-success { background-color: rgb(13, 205, 192); }
h1, h2, h3, h4, h5 { font-weight: bold; text-align: center; color: rgb(0, 12, 18); }
h1 a, h2 a, h3 a, h4 a, h5 a { color: rgb(0, 12, 18); text-decoration: underline; }
h1 { font-size: 300%; }
h2 { font-size: 240%; margin: 0px auto 30px; }
h3 { font-size: 200%; }
h4 { font-size: 120%; text-transform: uppercase; }
.navbar-toggle:hover .icon-bar { background-color: rgb(255, 103, 0); }
.navbar-toggle, .navbar-toggle.collapsed, .navbar-toggle.collapsed:hover { background-color: rgb(22, 30, 40); }
.navbar-toggle .icon-bar, .navbar-toggle.collapsed .icon-bar, .navbar-toggle.collapsed:hover .icon-bar { background-color: rgb(238, 238, 238); }
.navbar { border: medium none; border-radius: 0px; overflow: hidden; margin: 0px auto; }
.navbar .navbar-brand { display: none; }
.navbar .navbar-brand img { max-height: 85%; }
.navbar .navbar-brand .logo-image { display: inline-block; }
.navbar .navbar-brand .logo-thumb { display: none; }
.navbar .phone { display: block; text-decoration: none; color: rgb(255, 255, 255); font-size: 20px; line-height: 30px; margin: 10px 10px 0px; }
.navbar .nav > li > a { line-height: 20px; font-weight: bold; text-decoration: none; text-transform: uppercase; color: rgb(0, 0, 0); }
.navbar .top-line .container { width: 100%; }
header.header.sticky { display: none; position: fixed; top: 0px; left: 0px; right: 0px; background: rgb(245, 245, 245) url("../images/bg-white.jpg") repeat scroll center top; margin: 0px; z-index: 500; box-shadow: 0px 0px 15px rgb(0, 0, 0); }
header.header.sticky .navbar .top-line { display: none ! important; }
.navbar .top-line { height: 24px; overflow: hidden; font-size: 13px; line-height: 24px; background-color: rgb(22, 30, 40); color: rgb(153, 153, 153); }
.navbar .top-line span { position: relative; height: 24px; line-height: 24px; margin-left: 30px; }
.navbar .top-line span::before { position: absolute; left: -30px; top: -2px; width: 20px; height: 20px; content: ""; background: transparent url("../images/sprite.png") no-repeat scroll 0px 0px; }
.navbar .top-line .plus { margin-right: 10px; }
.navbar .top-line .exclam::before { background-position: -20px 0px; }
.navbar .top-line .container .row > .col-md-12 { text-align: center; }
#banner { position: relative; background: transparent; color: rgb(255, 255, 255); padding: 0px; }
#banner .banner-size { height: 310px; padding-top: 210px; }
#banner .flags { display: none; position: absolute; right: 15px; top: 15px; width: 14px; height: 11px; background-color: rgb(255, 0, 0); }
#banner .contacts { position: absolute; left: 0px; right: 0px; top: 0px;}
#banner .contact { background-color: rgba(18, 21, 36, 0.73); padding: 5px; margin-bottom: 5px; }
#banner .contact .icon::before { padding-right: 7px; }
#banner .contact .full { display: none; }
#banner .banner-head { padding-top: 120px;}
#banner .banner-head h1, #banner .banner-head h2 { font-family: 'Philosopher', sans-serif; }
#spice-logo-link { display: block; position: absolute; left: 40%; right: 40%; bottom: 0px; height: 8%; }
.white { padding: 20px 0px 50px; }
.black { position: relative; background: rgb(2, 16, 23) url("../images/background-pattern-dark.png") repeat scroll center top; color: rgb(255, 255, 255); padding: 20px 0px; }
.black h1, .black h2, .black h3, .black h4, .black h5 { color: rgb(255, 255, 255); }
.black h1 a, .black h2 a, .black h3 a, .black h4 a, .black h5 a { color: rgb(255, 255, 255); }
.breadcrumb > li + li::before { content: "»"; color: inherit; padding: 0px 5px; }
.controls a::before { padding-right: 5px; }
form .icon::before { position: absolute; right: 0px; top: 0px; width: 50px; height: 50px; line-height: 50px; border-radius: 4px; }
form .icon.fa-asterisk::before { width: 25px; height: 25px; line-height: 25px; text-align: center; color: rgb(210, 29, 47); }
#feedback { position: relative; background: rgb(8, 7, 9) repeat-x scroll center top; color: rgb(255, 255, 255); text-align: center; padding: 0px; }
#feedback .feedback-fill { padding: 50px 0px; }
#feedback h1, #feedback h2 { margin: 0px auto 20px; }
#feedback .map::before { padding-right: 10px; }
#partners { padding: 60px 0px 30px; }
#partners .partner { min-height: 120px; text-align: center; padding-bottom: 10px; }
#partners .partner img { display: block; width: 64px; height: 64px; margin: 0px auto; }
#footer { position: relative; background: rgb(18, 21, 36) url("../images/bg-footer.jpg") repeat-x scroll center top; color: rgb(255, 255, 255); border: medium none; margin-top: 0px; }
#footer-wrapper { margin-bottom: 40px; }
#footer li { border: medium none; font-weight: 100; }
#footer .salon-info { position: relative; padding-left: 100px; }
#footer .salon-info li::before { position: absolute; left: 0px; }
#footer .salon-info .address::before { content: "Адрес:"; }
#footer .salon-info .hours::before { content: "График:"; }
#footer .salon-info .phone::before { content: "Телефоны:"; }
#footer .salon-info .email::before { content: "Email:"; }
#footer .salon-info .requisite::before { content: "Реквизиты:"; }
#footer .salon-info .links::before { content: "Каталоги:"; }
#footer .menu .vk::before, #footer .menu .fb::before, #footer .menu .tw::before, #footer .menu .ok::before, #footer .menu .in::before { display: inline-block; width: 20px; height: 20px; background: transparent url("sprite.png") no-repeat scroll 0px -20px; content: ""; margin: 0px 10px -5px 0px; }
#footer .menu .fb::before { background-position: -20px -20px; }
#footer .menu .ok::before { background-position: -40px -20px; }
#footer .menu .in::before { background-position: -60px -20px; }
#footer .menu .tw::before { background-position: -60px -40px; }
#sub-floor { text-align: center; background-color: transparent; border-top: 1px solid rgb(42, 46, 59); padding: 40px 0px; }
#sub-floor .copyright { display: inline-block; position: relative; color: rgb(255, 255, 255); text-decoration: underline; font-size: 85%; font-weight: 100; padding-left: 53px; margin: 0px auto; }
#sub-floor .copyright::before { display: block; position: absolute; left: -15px; top: -15px; width: 60px; height: 47px; content: ""; }

.vfb-item .vfb-required-asterisk::before { position: absolute; right: 0px; top: 0px; width: 22px; height: 22px; line-height: 22px; text-indent: initial; text-align: center; color: rgb(210, 29, 47); content: ""; font-family: FontAwesome; }
.metaslider .flexslider { position: relative; overflow: hidden; background-color: rgba(0, 0, 0, 0.8) ! important; }
.metaslider .flex-viewport { overflow: hidden; position: relative; }
.metaslider .slides { width: 800%; transition-duration: 0s; transform: translate3d(-750px, 0px, 0px); }
.metaslider .slides img { width: initial ! important; margin: 0px auto; }

#banner.banner-home .banner-size { height: 650px; padding-left: 75px; padding-right: 75px; }
#banner.banner-home .cards { position: absolute; left: 15px; bottom: 40px; text-align: left; }
#banner.banner-home .cards .icon { font-size: 200%; }
#banner.banner-home .cards .icon::before { color: rgb(255, 255, 255); }
#girls.girls-home { padding: 60px 0px 80px; }
#girls.girls-home .container .row { text-align: center; }
#girls.girls-home .girl { min-width: inherit; min-height: inherit; margin-bottom: 20px; display: inline-block; float: none ! important; width: 24%; }
#girls.girls-home .girl .params th { width: 50%; text-align: right; padding: 10px 10px 0px 0px; }
#girls.girls-home .girl .params td { text-align: left; font-weight: lighter; padding: 10px 10px 0px 0px; }
#girls.girls-home .btn { margin-top: 20px; }
#actions.actions-home { position: relative; overflow: hidden; }
#actions.actions-home .actions-fill { padding: 40px 0px; }
#actions.actions-home .metaslider .flexslider .caption-wrap { top: auto; bottom: 0px; opacity: 0.8; height: 50%; background: transparent linear-gradient(to bottom, transparent 50%, rgb(1, 13, 19) 100%) repeat scroll 0% 0%; }
#actions.actions-home .metaslider .flexslider .caption { position: absolute; top: auto; bottom: 0px; left: 0px; right: 0px; background-color: transparent; }
.white-home { padding: 60px 0px 0px; }
.white-home .row > div[class^="col-"] { padding-bottom: 40px; }
.services.services-home { margin: 0px 0px 30px; }
.services.services-home .service .meta { position: static; width: auto; float: right; margin: 0px; }
.services.services-home .service .meta .badge { position: static; }
.services.services-home .service .meta .price { position: static; }
.services.services-home .service .meta .duration { display: none; }
#blog.blog-home .post { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 100%; font-weight: bold; padding: 15px 0px 0px; margin: 0px; }
#blog.blog-home .post .date { display: block; color: rgb(171, 171, 171); font-size: 90%; font-weight: 100; margin: 0px 0px 10px; }
#blog.blog-home .post a { color: rgb(0, 0, 0); text-decoration: underline; }
#feedback.feedback-home .feedback-fill { padding: 60px 0px 70px; }
#feedback.feedback-home h2 { margin: 0px auto 20px; }
#feedback.feedback-home span { display: block; }
#feedback.feedback-home .meta { text-transform: uppercase; font-weight: 100; font-size: 85%; letter-spacing: 3px; }
#feedback.feedback-home .quote { font: 150px/0px "Times New Roman",Times,serif; color: rgb(255, 103, 0); margin: 90px auto 20px; }
#feedback.feedback-home .comment { font-size: 120%; font-weight: 100; text-align: center; max-width: 670px; margin: 0px auto 50px; }
#feedback.feedback-home .btn { margin-bottom: 20px; }
#interior.interior-home { padding: 60px 0px 40px; }
#interior.interior-home h2 { margin-bottom: 50px; }
#interior.interior-home .interior { text-align: center; margin: 10px auto 20px; }
#interior.interior-home .info { text-align: center; }
#interior.interior-home .info .text { max-height: 275px; overflow: hidden; font-size: 120%; line-height: 30px; font-weight: 100; margin-bottom: 40px; }
#interior.interior-home .btn { margin-bottom: 20px; }
#video.video-home .video-wrapper::before { position: absolute; left: 0px; right: 0px; bottom: -100px; height: 105px; content: ""; background: transparent url("../images/slider-shadow.png") no-repeat scroll center top / cover ; }
#about.about-home { padding: 30px 0px 0px; }
#about.about-home h2 { padding: 30px 0px; margin: 0px; }
#about.about-home h4 { text-transform: uppercase; text-align: left; }
#about.about-home > img { max-width: 100%; margin: 0px -9999px; }
#about.about-home .options p { padding: 0px; }
#about.about-home h4, #about.about-home .options .icon { padding-left: 50px; }
#about.about-home .options .icon::before { position: absolute; left: 25px; top: 0px; font-size: 240%; margin-top: -5px; }
#about.about-home .options .icon img { position: absolute; left: 0px; top: 0px; font-size: 240%; }
#about.about-home .options .icon img { left: 5px; width: 40px; height: 40px; }
#about.about-home p { padding-bottom: 30px; margin: 0px; }
#about.about-home .about_div { width: 75%; margin: auto; }
#about.about-home .about_div p { text-align: left; text-indent: 1.5em; }
#map.map-home { position: relative; overflow: hidden; }
#map.map-home .map-fill { padding: 40px 0px 0px; }
#map.map-home h2 { margin: 0px auto 20px; }
#map.map-home a, #map.map-home span { display: block; }
#map.map-home .map { font-weight: 100; font-size: 120%; padding-bottom: 20px; }
#map.map-home .map::before { padding-right: 6px; }
.icon { position: initial; }

#girls { padding-bottom: 60px; }
#girls h2 { margin-bottom: 30px; }
#girls .girl { text-align: center; margin-top: 30px; }
.girl .girl-wrapper { display: inline-block; position: relative; overflow: hidden; width: 100%; min-height: 40px; max-height: 400px; text-align: center; margin: 0px auto; }
.girl .girl-wrapper:hover { box-shadow: 7px -7px 30px -5px rgba(15, 17, 29, 0.3), -7px -7px 30px -5px rgba(15, 17, 29, 0.3); }
.girl .girl-wrapper .info { position: absolute; bottom: -1px; left: 0px; right: 0px; background-color: rgba(15, 17, 29, 0.75); color: rgb(255, 255, 255); padding: 15px; }
.girl .girl-wrapper .info .name { display: block; color: rgb(255, 255, 255); font-size: 100%; line-height: 15px; font-weight: bold; text-align: center; text-transform: uppercase; }
.girl .girl-wrapper .params { display: none; width: 100%; font-size: 100%; line-height: 1; margin-top: 5px; }
.girl .girl-wrapper .badge.icon::before { position: absolute; left: 10px; top: 10px; }
.girl .params { margin: 0px auto; }
.girl .params tr { padding-top: 10px; }
.girl .params th { width: 50%; text-align: right; font-weight: lighter; padding: 10px 5px 0px 0px; }
.girl .params th::after { content: ":"; }
.girl .params td { text-align: left; font-weight: lighter; padding: 10px 10px 0px 0px; }
.girl .girl-wrapper:hover .params { display: table; }
.girl .links .icon::before { position: absolute; top: -40px; left: 0px; right: 0px; font-size: 30px; }
#girls .girl { max-width: 585px; margin-left: auto; margin-right: auto; }
#girls .girl .params th { width: 25%; text-align: center; font-weight: normal; }
#girls .girl .params td { text-align: center; font-weight: 900; padding: 0px; }
#girls .girl .info { text-align: right; }
#girls .girl .badge.images::before { display: none; }
#girl .links .icon::before { padding-right: 5px; }
#girl .services .icon::before { width: 20px; padding-right: 5px; }
#girl .services .fa-check::before { color: rgb(81, 129, 19) ! important; }
#girl .services .fa-heart::before { color: rgb(232, 29, 58) ! important; }
#girl .services .fa-times, #girl .services .fa-times::before { color: rgb(170, 170, 170) ! important; }
#girl .services.legend .icon::before { width: 14px; padding-right: 2px; }
#girl .hours-table tr.dates th:nth-child(2) { border-left: medium none; }
.single_girl .images .image:hover a::before { content: " "; background: transparent url("../images/zoom-photo.png") no-repeat scroll center center; display: inline-block; position: absolute; width: 52px; height: 52px; top: 50%; left: 50%; margin: -26px 0px 0px -26px; }
.girl-wrapper a.girl_link { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; }

.hours-table tr.hours:nth-child(2n) { border: 1px solid rgb(171, 171, 171); }
.hours-table tr.dates th.today::before { position: absolute; overflow: hidden; left: -2px; right: -2px; top: -20px; height: 20px; content: "сегодня"; font-size: 9px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-stretch: ultra-condensed; text-align: center; color: rgb(255, 255, 255); background-color: rgb(171, 171, 171); }
.hours-table tr.hours td::before { position: absolute; left: 50%; top: 50%; width: 20px; height: 20px; background: transparent url("../images/sprite.png") no-repeat scroll 0px -40px; overflow: hidden; content: ""; margin: -11px 0px 0px -10px; }
.hours-table tr.hours td.half2::before { background-position: -20px -40px; }
.hours-table tr.hours td.full::before { background-position: -40px -40px; }
.hours-table tr.hours td.empty::before { background-image: none; }
.hours-table.active tr.dates th.today::before { background-color: rgb(74, 158, 0); }

.metaslider::before { position: absolute; left: 0px; right: 0px; bottom: -105px; height: 105px; opacity: 0.8; content: ""; background: transparent url("../images/slider-shadow.png") no-repeat scroll center top / 100% auto; }
.metaslider .flexslider .caption-wrap { position: absolute; left: 0px; right: 0px; top: 30px; bottom: auto; background-color: transparent; text-align: center; padding: 0px 20px; }
.metaslider .flexslider .caption { position: static; display: inline-block; border-radius: 4px; background-color: rgba(1, 13, 19, 0.8); padding: 10px 15px; }
.metaslider .flexslider .caption h3 { font-size: 15px; color: rgb(255, 255, 255); text-transform: uppercase; margin: 0px; }
.metaslider .flexslider .flex-control-nav { bottom: -30px; }
.metaslider .flexslider .flex-control-paging li a { background-color: rgb(255, 255, 255); margin: 0px 5px; }
.metaslider .flexslider .flex-control-paging li a:hover, .metaslider .flexslider .flex-control-paging li a.flex-active { background-color: rgb(29, 175, 210); }
.metaslider .flexslider .flex-direction-nav a { width: 40px; height: 40px; line-height: 40px; font-size: 160%; text-align: center; text-decoration: none; background: transparent none repeat scroll 0% 0%; color: rgb(29, 175, 210); overflow: hidden; text-indent: -9999px; border: 1px solid rgb(29, 175, 210); border-radius: 4px; }
.metaslider .flexslider .flex-direction-nav a:hover { background-color: rgb(29, 175, 210); color: rgb(255, 255, 255); }
.metaslider .flexslider .flex-direction-nav a:hover::before { color: rgb(255, 255, 255); }
.metaslider .flexslider .flex-direction-nav a::before { position: absolute; top: 0px; width: 100%; height: 100%; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 38px; text-indent: initial; color: rgb(29, 175, 210); }
.metaslider .flexslider .flex-prev::before { left: -2px; content: ""; }
.metaslider .flexslider .flex-next::before { right: -2px; content: ""; }
.metaslider .flexslider:hover .flex-prev { left: 15px; }
.metaslider .flexslider:hover .flex-next { right: 15px; }

#contacts .salon-info li::before { position: absolute; left: 0px; font-weight: bold; }
#contacts .salon-info li::after { position: absolute; left: 0px; right: 0px; bottom: 0px; border-top: 1px solid rgb(211, 214, 216); border-bottom: 1px solid rgb(255, 255, 255); content: ""; }
#contacts .salon-info li:last-child::after { display: none; }
#contacts .salon-info .address::before { content: "Адрес:"; }
#contacts .salon-info .hours::before { content: "График:"; }
#contacts .salon-info .phone::before { content: "Телефоны:"; }
#contacts .salon-info .email::before { content: "Email:"; }
#contacts .salon-info .requisite::before { content: "Реквизиты:"; }
#contacts .salon-info .metro::before { content: "Метро:"; }
#contacts .salon-info .about::before { content: "Пояснение:"; }
#contacts .salon-info .photo::before { content: "Фасад:"; }
#map { padding-bottom: 0px; }
#map .phone { display: inline-block ! important; font-size: 200%; font-weight: bold; padding-bottom: 30px; }
#map .phone::before { position: absolute; left: 35px; font-size: 120%; line-height: 120%; padding-right: 6px; }
.map-wrapper { overflow: hidden; height: 300px; text-align: center; }
.map-wrapper::before { position: absolute; left: 0px; right: 0px; top: 0px; height: 15px; background: transparent linear-gradient(to bottom, rgb(1, 13, 19) 0%, transparent 100%) repeat scroll 0% 0%; }
#spice_map { width: 100%; height: 550px; }

#actions h2 { margin-bottom: 50px; }
#actions .metaslider .flexslider .caption-wrap { top: auto; bottom: 0px; opacity: 0.8; height: 50%; background: transparent linear-gradient(to bottom, transparent 50%, rgb(1, 13, 19) 100%) repeat scroll 0% 0%; }
#actions .metaslider .flexslider .caption { display: none; }
#actions .metaslider .flex-control-nav { bottom: 20px; }
.services .services-head, .services .service { position: relative; text-transform: uppercase; clear: both; padding: 18px 18px 18px 24px; }
.services .service .name { display: table-cell; max-width: 70%; z-index: 2; }
.services .service .name a { text-decoration: none; border-bottom: 1px dotted rgb(0, 0, 0); }
.services .service .meta { position: absolute; right: 0px; top: 18px; width: 100%; font-weight: bold; }
.services .service .meta .badge { margin-right: 10px; }
.services .service .meta .duration { position: absolute; left: 50%; color: rgb(186, 186, 186); }
.services .service .meta .badge { position: absolute; color: rgb(255, 255, 255); right: 50%; margin-top: -5px; }
.services .service .meta .price { position: absolute; right: 22%; color: rgb(255, 103, 0); }
.services .service .content { display: none; text-transform: none; margin-top: 10px; }
.services .service .name a::before { position: absolute; color: rgb(29, 175, 210); top: 50%; left: -15px; margin-top: -8px; }
.services .service .name a.fa-caret-down::before { content: "" ! important; }
.services .service { border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(211, 214, 216); }
.services .service:first-child, .services .service:last-child { border-top: medium none; }
.services .service .name { font-weight: bold; }

.questions .question .name a::before { position: absolute; color: rgb(29, 175, 210); top: 4px; left: -15px; }
.questions .question .name a.fa-caret-down::before { content: "" ! important; }
#feedback .comment { text-align: left; margin: 30px 0px; }
#feedback .comment .date::before { position: relative; left: -2px; content: ","; font-weight: bold; color: rgb(255, 255, 255); font-size: 120%; padding-right: 5px; }
#feedback .comment .message::before { position: absolute; left: -90px; font: 150px/0px "Times New Roman",Times,serif; content: "“"; color: rgb(255, 103, 0); margin: 55px auto 0px; }

/* Effective stylesheet produced by snapshot save */
@media (max-width: 600px) {
    h1 { font-size: 260% ! important; }
    h2 { font-size: 160% ! important; }
    h3 { font-size: 120% ! important; }
    h4 { font-size: 100% ! important; }
}
@media (min-width: 768px) {
    .navbar .navbar-brand .logo-image { display: none; }
    .navbar .navbar-brand .logo-thumb { display: inline-block; }
}
@media (min-width: 992px) {
    .navbar .navbar-brand .logo-image { display: inline-block; }
    .navbar .navbar-brand .logo-thumb { display: none; }
}
@media (min-width: 520px) {
    .navbar .navbar-brand { display: block; height: 50px; line-height: 50px; padding: 0px 0px 0px 15px; }
    .navbar .phone { float: right; }
    .navbar .nav > li.home { display: none; }
}
@media (min-width: 768px) {
    .navbar { height: 70px; }
    .navbar .container { width: 300%; }
    .navbar .navbar-header, .navbar .navbar-collapse { display: inline-block ! important; float: none ! important; }
    header.label18 .navbar { min-height: 70px; height: initial; }
    header.label18 .navbar .nav { top: 24px; }
    header.label18.sticky .navbar .nav { top: 0px; }
    .navbar .navbar-brand { height: 70px; line-height: 66px; }
    .navbar .navbar-brand img { max-width: 150px; }
    .navbar .phone { display: none; }
    .navbar .navbar-right:last-child { margin-right: -25px; }
    .navbar .nav > li > a { padding: 25px 5px; }
}
@media (min-width: 992px) {
    .navbar { height: 101px; }
    header.label18 .navbar { height: 125px; }
    .navbar .top-line { height: 30px; line-height: 30px; }
    .navbar .navbar-brand { height: 100px; line-height: 96px; }
    .navbar .navbar-brand img { max-width: 250px; }
    .navbar .nav { margin-right: -15px; }
    .navbar .nav > li > a { padding: 35px 15px; }
    .navbar .nav > li.home > a { width: 60px; }
}
@media (min-width: 768px) {
    header.header.sticky .navbar { height: 72px; }
    header.header.sticky .navbar .navbar-brand { height: 70px; line-height: 66px; }
    header.header.sticky .navbar .navbar-brand img { max-width: 150px; }
    header.header.sticky .navbar .nav > li > a { padding-top: 25px; padding-bottom: 25px; }
    header.header.sticky .navbar .nav > li.home > a { display: inline-block; width: 40px; background: transparent url("home.png") no-repeat scroll center center; text-indent: -999px; overflow: hidden; }
    header.header.sticky .navbar .nav > li.home a:hover { background-color: rgb(238, 238, 238); }
}
@media (max-width: 992px) {
    .navbar .top-line { height: initial; }
    .navbar .top-line span { height: initial; }
}
@media (min-width: 768px) {
    #banner .contacts { position: absolute; left: auto; right: 10px; top: 25px; text-align: right; padding: 5px; border-radius: 4px; }
    #banner .contacts .mobile { display: none; }
    #banner .contacts .full { display: inline; }
    #banner .contacts .phone { display: block; font-size: 200%; font-weight: bold; text-decoration: none; }
    #banner .contacts .metro { display: block; margin-bottom: 5px; }
    #banner .contacts .map { padding-left: 8px; }
    #banner .contacts .map a { text-decoration: none; border-bottom: 1px dotted rgb(255, 255, 255); }
}
@media (min-width: 991px) {
    #banner.banner-home .cards::before { position: relative; top: -5px; content: "Принимаем карты:"; padding-right: 6px; }
}
@media (max-width: 560px) {
    #banner.banner-home .cards .icon { display: none; }
}
@media (min-width: 768px) {
    .white-home .row > div[class^="col-"] { min-height: 160px; }
}
@media (max-width: 991px) {
    .btn-services { display: block; margin: 0px auto; }
}
@media (min-width: 560px) {
    #services.services-home .service .meta span { margin-left: 20px; margin-right: 20px; }
}
@media (min-width: 768px) {
    #services.services-home .service .meta .duration { display: inline-block; }
}
@media (min-width: 768px) {
    #interior.interior-home .info { text-align: left; padding-left: 45px; }
}
@media (min-width: 768px) {
    #about.about-home .options .icon::before { margin-top: 5px; }
}
@media (min-width: 992px) {
    #about.about-home .options .icon::before { left: 15px; }
    #about.about-home h4, #about.about-home .options .icon { padding-left: 70px; }
    #about.about-home .options .icon::before { font-size: 400%; }
    #about.about-home .options .icon img { width: 60px; height: 60px; }
}
@media (max-width: 640px) {
    #girls.girls-home .girl { width: 100%; }
}
@media (min-width: 768px) {
    #girls .girl .badge.images::before { display: block; }
}
@media (min-width: 992px) {
    #girls .girl .badge.images::before { display: none; }
}
@media (min-width: 1200px) {
    #girls .girl .badge.images::before { display: block; }
}
@media (max-width: 465px) {
    .hours-table tr.dates th.today::before { color: transparent; }
}
@media (min-width: 560px) {
    .metaslider .flexslider .flex-direction-nav a { width: 50px; height: 50px; line-height: 50px; font-size: 200%; }
    .metaslider .flexslider .flex-direction-nav a::before { line-height: 49px; }
}
@media (min-width: 768px) {
    .map-wrapper { height: 550px; }
}
@media (max-width: 991px) {
    #services .service .meta { position: static; margin-top: 15px; margin-bottom: 30px; }
}
@media (max-width: 559px) {
    #services .service .meta { text-align: right; white-space: nowrap; margin-bottom: auto; }
    #services .service .meta span { position: static ! important; margin-right: 10px ! important; }
    #services .service .meta .price { margin: 0px; }
}


body {font-family:'PT Serif','Open Sans',Arial,serif;}
h1, h2, h3, h4, h5, h6 {font-family:'PT Serif','Open Sans',Arial,serif;}
.navbar .nav li{font-family:'PT Serif','Open Sans',Arial,serif;}
.black{background-image:url("../images/background-pattern-dark.png")}
#feedback{background-image:url("../images/slide_background.jpg")}
#actions.actions-home{background-image:url("../images/slide_background.jpg")}
#footer{background-image:url("../images/bg-footer.jpg")}
#about .about-background, #about.about-home .about-background{background-image:url("../images/footer_girl.png")}

.pattern {background-image:url("../images/background-pattern-light.png")}

body {font-size: 14px; color: #000c12;}
a {color: #000c12;}
h1, h2, h3, h4, h5,
h1 a, h2 a, h3 a, h4 a, h5 a {color: #000c12;}

.icon:before {color: #f9b300;}

/* buttons */
.btn-info {color: #f9de9a !important; background-color: #ab3f6b; border-color: #ab3f6b;}
.btn-border {background-color: rgba(0,12,18,0.1) !important;}
.btn-info.btn-border {color: #ab3f6b !important; border-color: #ab3f6b !important;}
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.btn-info.btn-border:active,
.btn-info.btn-border:focus,
.btn-info.btn-border:hover {color: #f9eec7 !important; background-color: #6d1f5f !important; border-color: #6d1f5f !important;}
.btn-info.btn-active, .btn-border.btn-active,
.btn-info.btn-active:active,
.btn-info.btn-active:focus,
.btn-info.btn-active:hover,
.btn-border.btn-active:active,
.btn-border.btn-active:focus,
.btn-border.btn-active:hover {background-color: #6d1f5f !important; border-color: #6d1f5f !important; color: #f9eec7 !important;}
.pagination .btn-info.btn-border,
#girls .filter .btn-info.btn-border {color: #000c12 !important; border-color: #000c12 !important;}
.vfb-item-file-upload .btn-info.btn-border {color: #ff6700 !important; border-color: #ff6700 !important;}
.pagination .btn-info.btn-border:active,
.pagination .btn-info.btn-border:focus,
.pagination .btn-info.btn-border:hover,
#girls .filter .btn-info.btn-border.btn-active,
#girls .filter .btn-info.btn-border:active,
#girls .filter .btn-info.btn-border:focus,
#girls .filter .btn-info.btn-border:hover,
.vfb-item-file-upload .btn-info.btn-border:active,
.vfb-item-file-upload .btn-info.btn-border:focus,
.vfb-item-file-upload .btn-info.btn-border:hover {color: #f9de9a !important; border-color: #6d1f5f !important;}

.badge {color: #ffffff;}

hr {border-top-color: rgba(0,12,18,0.2); border-bottom-color: rgba(0,12,18,0.4);}

/* top nav */
header.header,
header.header.sticky {
    background-color: #f5f5f5;

}
header.header,
header.header .navbar .phone,
header.header .navbar .nav>li>a,
header.header .navbar .nav>li>a:before,
header.header.sticky,
header.header.sticky .navbar .nav>li>a,
header.header.sticky .navbar .nav>li>a:before {color: #000c12;}

.navbar-toggle:hover {background-color: #6d1f5f;}
.navbar-toggle:hover .icon-bar {background-color: #f9eec7;}
.navbar-toggle,
.navbar-toggle.collapsed,
.navbar-toggle.collapsed:hover {background-color: #ab3f6b;}
.navbar-toggle .icon-bar,
.navbar-toggle.collapsed .icon-bar,
.navbar-toggle.collapsed:hover .icon-bar {background-color: #f9de9a;}
.navbar .nav>li>a:hover, .navbar .nav>li.current-menu-item>a, .navbar .nav>li.active>a {background-color: rgba(245,245,245,0.5);}
@media (min-width: 768px) {
    .navbar .nav>li.home a:hover{background-color: rgba(245,245,245,0.1);}
}
@media (min-width: 768px) {
    header.header.sticky .navbar .nav>li.home a:hover{background-color: rgba(245,245,245,0.1);}
}

/* top line 18+ */
.navbar .top-line {
    color: #999999;
    background-color: #161e28;
}

/* blocks */
.white {color: #000c12;}
.white a {color: #000c12;}
.white h1, .white h2, .white h3, .white h4, .white h5,
.white h1 a, .white h2 a, .white h3 a, .white h4 a, .white h5 a {color: #000c12;}
.white hr {border-top-color: rgba(0,12,18,0.2); border-bottom-color: rgba(0,12,18,0.4);}
.black {background-color: #021017;}
.black, .black a {color: #ffffff;}
.black h1, .black h2, .black h3, .black h4, .black h5,
.black h1 a, .black h2 a, .black h3 a, .black h4 a, .black h5 a {color: #ffffff;}
.black hr {border-top-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.4);}


/* banner */
#banner, #banner a {color: #ffffff;}
#banner h1, #banner h2, #banner h3, #banner h4, #banner h5,
#banner h1 a, #banner h2 a, #banner h3 a, #banner h4 a, #banner h5 a {color: #ffffff;}
#banner hr {border-top-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.4);}
#banner .contact {background-color: rgba(2,16,23,0.5);}
#banner .description {color: #ffffff;}
#banner .cards .icon:before {color: #ffffff !important;}
#banner .contact .map a {border-bottom-color: #ffffff;}


/* footer */
#footer {background-color: #000000;}
#footer, #footer a, #footer li, #footer li a {color: #ffffff;}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5,
#footer h1 a, #footer h2 a, #footer h3 a, #footer h4 a, #footer h5 a {color: #ffffff;}
#footer hr {border-top-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.4);}
#sub-floor {border-color: rgba(255,255,255,0.3);}
#sub-floor .copyright {color: #ffffff;}

/* blog */
#blog .blog-post .date {color: rgba(0,12,18,0.6);}

/* contacts */
#contacts .salon-info li:after {border-top-color: rgba(0,12,18,0.4); border-bottom-color: rgba(0,12,18,0.1);}

/* feedback */
#feedback {background-color: #021017; color: #ffffff;}
#feedback a {color: #ffffff;}
#feedback span.phone, #feedback span.text, #feedback h1, #feedback h2, #feedback span.text, #feedback h3, #feedback h4, #feedback h5,
#feedback span.phone a, #feedback span.text a, #feedback h1 a, #feedback h2 a, #feedback h3 a, #feedback h4 a, #feedback h5 a {color: #ffffff;}
#feedback hr {border-top-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.4);}
#feedback .comment .date {color: rgba(255,255,255,0.8)}
#feedback .comment .date:before {color: #ffffff;}
#feedback .comment .message:before {color: #f9b300;}
#feedback .answer {border-color: #f9b300;}
#feedback .answer .answer-corner td.line {border-top-color: #f9b300;}
#feedback .answer .answer-corner .corner {border-top-color: #f9b300; border-left-color: #f9b300;}

.questions .question {border-top-color: rgba(0,12,18,0.6); border-bottom-color: rgba(0,12,18,0.2);}
.questions .question .name a {border-bottom-color: #000c12;}
.questions .question .name a:before {color: #ab3f6b;}
.questions .question .name a.fa-caret-down {color: #f9b300;}

/* girls */
.girl .girl-wrapper .badge.new {background-color: #edb900;}
.girl .links .icon {color: #000c12;}
.girl .description {height: 60.2px; max-height: 60.2px;}
#girl .links a {color: #000c12; border-bottom-color: #000c12;}
#girl .price {color: rgba(0,12,18,0.5);}
#girl .price strong {color: #f9b300;}

/* hours */
.hours-table-wrapper {background-color: rgba(255,255,255,0.2);}
.hours-table {border-color: rgba(0,12,18,0.2);}
.hours-table tr.hours:nth-child(even) {border-color: rgba(0,12,18,0.2);}
.hours-table tr.dates th,
.hours-table tr.hours td {border-left-color: rgba(0,12,18,0.2);}
.black .hours-table-wrapper {background-color: rgba(0,12,18,0.2);}
.black .hours-table {border-color: rgba(255,255,255,0.2);}
.black .hours-table tr.hours:nth-child(even) {border-color: rgba(255,255,255,0.2);}
.black .hours-table tr.dates th,
.black .hours-table tr.hours td {border-left-color: rgba(255,255,255,0.2);}

/* home */
#actions.actions-home {background-color: #021017; color: #ffffff;}
#blog.blog-home .post .date {color: rgba(0,12,18,0.6);}
#blog.blog-home .post a {color: #000c12;}
#feedback.feedback-home .quote {color: #f9b300;}
#video.video-home {background-color: #021017; color: #ffffff;}
#map.map-home {background-color: #021017; color: #ffffff;}
#map.map-home .map {color: #ffffff;}

/* interior */
.metaslider .flexslider .flex-control-paging li a:hover,
.metaslider .flexslider .flex-control-paging li a.flex-active {background-color: #ab3f6b;}
.metaslider .flexslider .flex-direction-nav a {color: #ab3f6b; border-color: #ab3f6b;}
.metaslider .flexslider .flex-direction-nav a:hover {background-color: #ab3f6b; color: #f9de9a;}
.metaslider .flexslider .flex-direction-nav a:hover:before {color: #f9de9a;}
.metaslider .flexslider .flex-direction-nav a:before {color: #ab3f6b;}

/* services */
.citation {border-color: rgba(0,12,18,0.2);}
.services .services-head {background-color: rgba(255,255,255,0.3); color: #000c12;}
.services .service {border-top-color: rgba(0,12,18,0.4); border-bottom-color: rgba(0,12,18,0.1);}
.services .service.expanded {background-color: rgba(245,245,245,0.2);}
.services .service .name a {border-bottom-color: #000c12;}
.services .service .meta .duration {color: rgba(0,12,18,0.6);}
.services .service .meta .price {color: #ab3f6b;}
.services .service .meta .price_card {color: #ab3f6b;}
.services .service .name a:before {color: #ab3f6b;}
.services .service .name a.fa-caret-down {color: #f9b300;}
.services .service.group .name {color: #ab3f6b;}
.services .service .meta .badge.hit {background-color: #9861a8;}
.services .service .meta .badge.sale {background-color: #a81010;}
.services .service .meta .badge.new {background-color: #edb900;}

/* home actions */
#actions.actions-home {color: #ffffff;}
#actions.actions-home a {color: #ffffff;}
#actions.actions-home h1, #actions.actions-home h2, #actions.actions-home h3, #actions.actions-home h4, #actions.actions-home h5,
#actions.actions-home h1 a, #actions.actions-home h2 a, #actions.actions-home h3 a, #actions.actions-home h4 a, #actions.actions-home h5 a {color: #ffffff;}
